{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Создание счета на оплату</title>
    <link rel="stylesheet" type="text/css" href="{% static 'registration.css' %}">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}
    <div class="d-grid gap-2 col-6 mx-auto">

        <form method="POST">
            {% csrf_token %}
            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.payer.id_for_label }}">{{ form.payer.label }}</label>
                    {{ form.payer }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.seller.id_for_label }}">{{ form.seller.label }}</label>
                    <div class="input-group">
                        {{ form.seller }}
                    </div>
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.date_form.id_for_label }}">{{ form.date_form.label }}</label>
                    {{ form.date_form }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.date_pay.id_for_label }}">{{ form.date_pay.label }}</label>
                    {{ form.date_pay }}
                </div>
            </div>

            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.sum.id_for_label }}">{{ form.sum.label }}</label>
                    {{ form.sum }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.assigning.id_for_label }}">{{ form.assigning.label }}</label>
                    {{ form.assigning }}
                </div>

            </div>

            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.check_document.id_for_label }}">{{ form.check_document.label }}</label>
                    {{ form.check_document }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.scan.id_for_label }}">{{ form.scan.label }}</label>
                    {{ form.scan }}
                </div>
            </div>
            <div class="form_flex">

                <div class="col-md-6 mb-2">
                    <label for="{{ form.type.id_for_label }}">{{ form.type.label }}</label>
                    {{ form.type }}
                </div>
            </div>

            <div class="bd-example bd-example-position-examples d-flex justify-content-around">
                <input type="submit" class="btn btn-outline-dark position-relative" value="Сохранить счет на оплату"/>
            </div>
        </form>
    </div>

{% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>