<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
    <link rel="apple-touch-icon" type="image/png"
          href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png">
    <meta name="apple-mobile-web-app-title" content="CodePen">
    <link rel="shortcut icon" type="image/x-icon"
          href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico">
    <link rel="mask-icon" type="image/x-icon"
          href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
          color="#111">
    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    <title>Car</title>
    <link rel="canonical" href="https://codepen.io/seyedi/pen/zYoeLEv">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&amp;display=swapps://github.com/produle/MockFlowFont/blob/master/MockFlowFont1/dist/MockFlowFont1.woff">
    <link rel="stylesheet" href="https://assets.css-tricks.ir/font/font.css">



{#    <script>#}
{#        window.console = window.console || function (t) {#}
{#        };#}
{#    </script>#}


</head>

<body translate="no">
<ul class="cards">
    <li>
        <h1>{{ car.id_car }}</h1>
    </li>
</ul>

{#<script id="rendered-js">#}
{#    // Credits:#}
{#    // Technique: https://css-irl.info/css-only-slide-up-caption-hover-effect#}
{#    // Design: https://dribbble.com/shots/10951466-Social-Mobile-App#}
{#    //# sourceURL=pen.js#}
{#</script>#}


</body>
</html>