

{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Новый заказ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'order.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}
    <div class="d-grid gap-2 col-6 mx-auto">

        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="form_flex">
                <div class="col-md-4 mb-3">
                    <label for="{{ form.last_name_client.id_for_label }}">{{ form.last_name_client.label }}</label>
                    {{ form.last_name_client }}
                </div>
                <div class="col-md-4 mb-3">
                    <label for="{{ form.first_name_client.id_for_label }}">{{ form.first_name_client.label }}</label>
                    {{ form.first_name_client }}
                </div>
                <div class="col-md-4 mb-3">
                    <label for="{{ form.patronymic_client.id_for_label }}">{{ form.patronymic_client.label }}</label>
                    {{ form.patronymic_client }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.date_of_birth.id_for_label }}">{{ form.date_of_birth.label }}</label>
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-calendar"></i> <!-- Иконка календаря -->
                        </span>
                        {{ form.date_of_birth }}
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="{{ form.place_of_birth.id_for_label }}">{{ form.place_of_birth.label }}</label>
                    {{ form.place_of_birth }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.passport_series.id_for_label }}">{{ form.passport_series.label }}</label>
                    {{ form.passport_series }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.passport_number.id_for_label }}">{{ form.passport_number.label }}</label>
                    {{ form.passport_number }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.passport_department_code.id_for_label }}">{{ form.passport_department_code.label }}</label>
                    {{ form.passport_department_code }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.passport_department_name.id_for_label }}">{{ form.passport_department_name.label }}</label>
                    {{ form.passport_department_name }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-6 mb-2">
                    <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
                    {{ form.address }}
                </div>

                <div class="col-md-6 mb-2">
                    <label for="{{ form.date_of_issue.id_for_label }}">{{ form.date_of_issue.label }}</label>
                    {{ form.date_of_issue }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-12 mb-1">
                    <label for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
                    {{ form.telephone }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-12 mb-1 form_disable_checkbox">
                    <label for="{{ form.inn.id_for_label }}">{{ form.inn.label }}</label>
                    {{ form.inn }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-12 mb-1 form_disable_checkbox">
                    <label for="{{ form.passport.id_for_label }}">{{ form.passport.label }}</label>
                    {{ form.passport }}
                </div>
            </div>
            <div class="form_flex">
                <div class="col-md-12 mb-1 form_disable_checkbox">
                    <label for="{{ form.registration.id_for_label }}">{{ form.registration.label }}</label>
                    {{ form.registration }}
                </div>
            </div>



            {% if car %}
{#            <a href="{{ car.get_absolute_url_order }}">#}
{#                <button type="button" class="btn btn-outline-dark position-relative" style="margin: 20px auto 50px auto; display: block">Сохранить</button>#}
{#            </a>#}
            <div class="bd-example bd-example-position-examples d-flex justify-content-around">
                <input name="save_and_continue" type="submit" class="btn btn-outline-dark position-relative" value="Сохранить"/>
            </div>
            {% else %}
            <div class="bd-example bd-example-position-examples d-flex justify-content-around">
                <input name="save" type="submit" class="btn btn-outline-dark position-relative" value="Сохранить"/>
            </div>
            {% endif %}
        </form>
    </div>
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение IMask.js -->
    <script src="https://unpkg.com/imask"></script>
    <!-- Подключение flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


    <script>
        $(document).ready(function() {
            // Инициализация маски для телефона с помощью IMask.js
            var phoneMask = IMask(
                document.getElementById('{{ form.telephone.id_for_label }}'), {
                    mask: '+{7} (000) 000-00-00'
                });

            // Инициализация flatpickr для выбора даты
            flatpickr("#{{ form.date_of_birth.id_for_label }}", {
                dateFormat: "Y-m-d",
                locale: "ru"  // Если нужна локализация на русский
            });

            // Инициализация flatpickr для выбора даты
            flatpickr("#{{ form.date_of_issue.id_for_label }}", {
                dateFormat: "Y-m-d",
                locale: "ru"  // Если нужна локализация на русский
            });

            var seriesMask = IMask(
            document.getElementById('{{ form.passport_series.id_for_label }}'), {
                mask: '0000' // Формат маски для серии
            });

            // Инициализация маски для номера паспорта с помощью IMask.js
            var numberMask = IMask(
                document.getElementById('{{ form.passport_number.id_for_label }}'), {
                    mask: '000000' // Формат маски для номера
                });
            });
    </script>
{% endblock content %}
