{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Заказы</title>
    <link rel="stylesheet" type="text/css" href="{% static 'orders.css' %}">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container mt-8">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="filter-form" class="mt-4">
                    <div class="form-group row mb-3">
                        <label for="last_name" class="col-sm-4 col-form-label">Поиск по ФИО:</label>
                        <div class="col-sm-8">
                            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Введите ФИО">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="phone" class="col-sm-4 col-form-label">Телефон:</label>
                        <div class="col-sm-8">
                            <input type="text" id="phone" name="phone" class="form-control" placeholder="+7 (___) ___-__-__">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="passport" class="col-sm-4 col-form-label">Поиск по серии и номеру паспорта:</label>
                        <div class="col-sm-8">
                            <input type="text" id="passport" name="passport" class="form-control" placeholder="Введите серию и номер паспорта">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" id="search-btn" class="btn btn-primary">Применить фильтр</button>
                            <button type="button" id="reset-btn" class="btn btn-secondary">Сбросить фильтры</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 15px">
        <a href="{% url "customer_new" %}">
            <button style="width: 300px" class="btn btn-outline-dark">Добавить клиента</button>
        </a>
    </div>
    <ul class="d-grid gap-2 col-8 mx-auto">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ФИО</th>
                <th scope="col">Номер телефона</th>
                <th scope="col">Паспорт</th>
                <th scope="col">Дата рождения</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="customer-table" >
                {% include 'customer_table.html' %}
                </tbody>
        </table>
    </ul>

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение IMask.js -->
    <script src="https://unpkg.com/imask"></script>

    <script>
        $(document).ready(function() {
            // Инициализация маски для телефона с помощью IMask.js
            var phoneMask = IMask(
                document.getElementById('phone'), {
                    mask: '+{7} (000) 000-00-00'
                });

            var passportMask = IMask(
            document.getElementById('passport'), {
                mask: '0000 000000' // Формат маски
            });

            // Обработчик для отправки формы с фильтрами
            $('#filter-form').submit(function(e) {
                e.preventDefault();
                // ваш код AJAX запроса для фильтрации
            });

            // Обработчик для кнопки "Сбросить фильтры"
            $('#reset-btn').click(function() {
                // Сбросить значения всех элементов формы
                $('#filter-form')[0].reset();

                 // Отправить форму
                $('#filter-form').submit();

            });
        });
         $(document).ready(function() {
        $('#filter-form').submit(function(e) {
            e.preventDefault();
            var phone = $('#phone').val();
            var lastName = $('#last_name').val();
            var passport = $('#passport').val();


            $.ajax({
                url: '/customers/ajax/',
                type: 'GET',
                data: {
                    phone: phone,
                    last_name: lastName,
                    passport: passport,
                },
                dataType: 'json',
                success: function(data) {
                    $('#customer-table').html(data.html);
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
    </script>
{% endblock content %}
