{% for el in customers %}
    <tr style="vertical-align: middle">
        <th scope="row">{{ el.pk }}</th>
        <td>{{ el.last_name_client }} {{ el.first_name_client }} {{ el.patronymic_client }}</td>
        <td>{{ el.telephone }}</td>
        <td>{{ el.passport_series }} {{ el.passport_number }} </td>
        <td>{{ el.date_of_birth }}</td>
        <td>
            <a href="{{ el.get_absolute_url_customer }}">
                <button style="width: 100px" class="btn btn-outline-dark">Открыть</button>
            </a>
        </td>
    </tr>
{% endfor %}