

{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Заказы</title>
    <link rel="stylesheet" type="text/css" href="{% static 'orders.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}
    <div class="container mt-8">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="filter-form" class="mt-4">
                     <div class="form-group row mb-3">
                        <label for="start_date" class="col-sm-3 col-form-label">Поиск по дате действия:</label>
                        <div class="col-sm-9">
                            <input type="date" id="start_date" name="start_date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-center">
                            <button type="submit" id="search-btn" class="btn btn-primary">Применить фильтр</button>
                            <button type="button" id="reset-btn" class="btn btn-secondary">Сбросить фильтры</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 15px">
        <a href="{% url "duty_new" %}">
            <button style="width: 300px" class="btn btn-outline-dark">Новый диапазон</button>
        </a>
    </div>
    <ul class="d-grid gap-2 col-8 mx-auto">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Действует от</th>
                <th scope="col">Объем двигателя от</th>
                <th scope="col">Объем двигателя до</th>
                <th scope="col">До 3 лет</th>
                <th scope="col">Старше 3 лет</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="input-table">
            {% include 'duties_table.html' %}
            </tbody>
        </table>
    </ul>

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение IMask.js -->
    <script src="https://unpkg.com/imask"></script>
    <!-- Подключение flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
     $(document).ready(function() {
            $('#filter-form').submit(function(e) {
            e.preventDefault();
            var start_date = $('#start_date').val();


            $.ajax({
                url: '/duties/ajax/',
                type: 'GET',
                data: {
                    start_date: start_date,
                },
                dataType: 'json',
                success: function(data) {
                    $('#input-table').html(data.html);
                },
                error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                }
            });
        });

            // Обработчик для отправки формы с фильтрами
            $('#filter-form').submit(function(e) {
                e.preventDefault();
                // ваш код AJAX запроса для фильтрации
            });

            // Обработчик для кнопки "Сбросить фильтры"
            $('#reset-btn').click(function() {
                // Сбросить значения всех элементов формы
                $('#filter-form')[0].reset();

                 // Отправить форму
                $('#filter-form').submit();

            });
             flatpickr("#start_date", {
            dateFormat: "Y-m-d",
            locale: "ru"  // Если нужна локализация на русский
            });
        });

    </script>
{% endblock content %}
