

{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Цены</title>
    <link rel="stylesheet" type="text/css" href="{% static 'order.css' %}">
{% endblock head %}

{% block content %}

    <div class="d-grid gap-2 col-6 mx-auto">
        <form method="POST">
            {% csrf_token %}
            <div class="form_flex" style="padding-top: 20px">

                <div class="col-md-4 mb-3">
                    <label for="{{ form.power_first_car.id_for_label }}">{{ form.power_first_car.label }}</label>
                    {{ form.power_first_car }}
                </div>
                <div class="col-md-4 mb-3">
                    <label for="{{ form.power_last_car.id_for_label }}">{{ form.power_last_car.label }}</label>
                    {{ form.power_last_car }}
                </div>
                <div class="col-md-4 mb-3">
                    <label for="{{ form.bet.id_for_label }}">{{ form.bet.label }}</label>
                    {{ form.bet }}
                </div>
            </div>
            <div class="bd-example bd-example-position-examples d-flex justify-content-around">
                <input type="submit" name="calculate_price" class="btn btn-outline-dark position-relative" value="Сохранить"/>
            </div>
        </form>
    </div>

{% endblock content %}
