
{% for el in orders %}
    {% if el.order_status == 'В работе' %}
        <tr style="vertical-align: middle" class="table-success">
    {% elif el.order_status == 'Не предоплачен' %}
        <tr style="vertical-align: middle" class="table-secondary">
    {% elif el.order_status == 'Предоплачен' %}
        <tr style="vertical-align: middle" class="table-info">
    {% elif el.order_status == 'Выкуплен' %}
        <tr style="vertical-align: middle" class="table-primary">
    {% elif el.order_status == 'Не выкуплен' %}
        <tr style="vertical-align: middle" class="table-danger">
    {% elif el.order_status == 'Оплачен' %}
        <tr style="vertical-align: middle" class="table-warning">
    {% elif el.order_status == 'Не оплачен' %}
        <tr style="vertical-align: middle" class="table-info">
    {% elif el.order_status == 'В пути до РФ' %}
        <tr style="vertical-align: middle" class="table-secondary">
    {% elif el.order_status == 'В РФ' %}
        <tr style="vertical-align: middle" class="table-primary">
    {% elif el.order_status == 'Ожидает отправки' %}
        <tr style="vertical-align: middle" class="table-warning">
    {% elif el.order_status == 'В пути по РФ' %}
        <tr style="vertical-align: middle" class="table-success">
    {% elif el.order_status == 'Выполнен' %}
        <tr style="vertical-align: middle" class="table-success">
    {% else %}
        <tr style="vertical-align: middle">
    {% endif %}
        <th scope="row">{{ el.id_order }}</th>
        <td>{{ el.id_customer.last_name_client }} {{ el.id_customer.first_name_client }}  {{ el.id_customer.patronymic_client }}</td>
        <td>{{ el.id_car.title }}</td>
        <td>{{ el.id_customer.telephone }}</td>
        <td>{{ el.date_start }}</td>
        <td>
            <a href="{{ el.get_absolute_url_order }}">
                <button style="width: 100px" class="btn btn-outline-dark">Открыть</button>
            </a>
        </td>
    </tr>
{% endfor %}
