{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Заказы</title>
    <link rel="stylesheet" type="text/css" href="{% static 'orders.css' %}">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}
    {% if user.is_authenticated and user.job_title != 'Клиент' %}
    <div class="container mt-8">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form id="filter-form" class="mt-4">
                    {% csrf_token %}
                    <div class="form-group row mb-3">
                        <label for="status" class="col-sm-2 col-form-label">Фильтр по статусу:</label>
                        <div class="col-sm-10">
                            <select name="status" id="status" class="form-control">
                                <option value="">Все</option>
                                <option value="В работе">В работе</option>
                                <option value="Ожидает отправки">Ожидает отправки</option>
                                <!-- Добавьте остальные статусы по вашему примеру -->
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="start_date" class="col-sm-2 col-form-label">Дата с:</label>
                        <div class="col-sm-4">
                            <input type="date" id="start_date" name="start_date" class="form-control">
                        </div>
                        <label for="end_date" class="col-sm-2 col-form-label">Дата по:</label>
                        <div class="col-sm-4">
                            <input type="date" id="end_date" name="end_date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <label for="last_name" class="col-sm-2 col-form-label">Поиск по ФИО:</label>
                        <div class="col-sm-10">
                            <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Введите ФИО">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-center mb-3">
                            <button type="submit" id="search-btn" class="btn btn-primary">Применить фильтр</button>
                            <button type="button" id="reset-btn" class="btn btn-secondary">Сбросить фильтры</button>
                        </div>
                        <div class="col-sm-12 text-center">
                            {% if user.is_authenticated and user.job_title == 'Менеджер' %}
                            <button type="button" id="auc_doc" value="some_value" class="btn btn-info">Сформировать список для аукциона</button>
                            {% elif user.is_authenticated and user.job_title == 'Логист' %}
                            <button type="button" id="trans_btn" value="some_value" class="btn btn-info">Сформировать заявку на перевозку </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% endif %}
    <ul class="d-grid gap-2 col-8 mx-auto">
        <div class="container mt-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ФИО клиента</th>
                        <th scope="col">Название машины</th>
                        <th scope="col">Номер телефона клиента</th>
                        <th scope="col">Дата</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="orders-table">
                    {% include 'order_table.html' %}
                </tbody>
            </table>
        </div>
    </ul>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#filter-form').submit(function(e) {
                e.preventDefault();
                var status = $('#status').val();
                var lastName = $('#last_name').val();
                var startDate = $('#start_date').val();
                var endDate = $('#end_date').val();

                $.ajax({
                    url: '/orders/ajax/',
                    type: 'GET',
                    data: {
                        status: status,
                        last_name: lastName,
                        start_date: startDate,
                        end_date: endDate
                    },
                    dataType: 'json',
                    success: function(data) {
                        $('#orders-table').html(data.html);
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                    }
                });
            });

            $('#auc_doc').click(function(e) {
                e.preventDefault();
                var auc_doc_btn = $('#auc_doc').val();
                var trans_btn = $('#trans_btn').val();

                $.ajax({
                    url: '/orders/',
                    type: 'POST',
                    data: {
                        'auc_doc_btn': auc_doc_btn,
                        'trans_btn': trans_btn,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    dataType: 'json',
                    success: function(response) {
                        if (response.file_url) {
                            window.open(response.file_url, '_blank');
                        } else {
                            console.error('Error: File URL not found.');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            $('#trans_btn').click(function(e) {
                e.preventDefault();
                var trans_btn = $('#trans_btn').val();

                $.ajax({
                    url: '/orders/',
                    type: 'POST',
                    data: {
                        'trans_btn': trans_btn,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                    },
                    dataType: 'json',
                    success: function(response) {
                        if (response.file_url) {
                            window.open(response.file_url, '_blank');
                        } else {
                            console.error('Error: File URL not found.');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });

            $('#reset-btn').click(function() {
                $('#status').val('');
                $('#start_date').val('');
                $('#end_date').val('');
                $('#last_name').val('');
                $('#filter-form').submit();
            });
        });
    </script>
{% endblock content %}