{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Заказ номер {{ order.id_order }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'order.css' %}">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}
    <div class="d-grid gap-2 col-6 mx-auto">
        <div class="row">
            <div class="col">
                <img style="max-width: 100%" src="{{ photo }}">
            </div>
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Кузов</th>
                            <td>{{ car.the_body }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Объем</th>
                            <td>{{ car.volume }}</td>
                        </tr>
                        <tr>
                            <th scope="row">КПП</th>
                            <td>{{ car.cpp }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Год</th>
                            <td>{{ car.year_car }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Пробег</th>
                            <td>{{ car.mileage }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Оценка</th>
                            <td>{{ car.estimation }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Предварительная цена</th>
                            <td>{{ car.price }} р.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="order-tab" data-bs-toggle="tab" href="#order" role="tab" aria-controls="order" aria-selected="true">Детали заказа</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="documents-tab" data-bs-toggle="tab" href="#documents" role="tab" aria-controls="documents" aria-selected="false">Документы</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="photo-tab" data-bs-toggle="tab" href="#photo" role="tab" aria-controls="documents" aria-selected="false">Фотоопись</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="download-tab" data-bs-toggle="tab" href="#download" role="tab" aria-controls="download" aria-selected="false">Скачать</a>
            </li>
        </ul>
        <form id="orderForm" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="order-tab">
                    <div class="form_flex">
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.last_name_client.id_for_label }}">{{ form.last_name_client.label }}</label>
                            {{ form.last_name_client }}
                        </div>
                        <div class="col-md-4 mb-3" style="display: none">
                            <label for="{{ form.id_order.id_for_label }}">{{ form.id_order.label }}</label>
                            {{ form.id_order }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.first_name_client.id_for_label }}">{{ form.first_name_client.label }}</label>
                            {{ form.first_name_client }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.patronymic_client.id_for_label }}">{{ form.patronymic_client.label }}</label>
                            {{ form.patronymic_client }}
                        </div>
                    </div>
                    <div class="form_flex">
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.telephone.id_for_label }}">{{ form.telephone.label }}</label>
                            {{ form.telephone }}
                        </div>
                    </div>
                    <div class="form_flex">
                        <div class="col-md-4 mb-3">
                            <label for="{{ form.date_start.id_for_label }}">{{ form.date_start.label }}</label>
                            {{ form.date_start }}
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="id_date_end">{{ form.date_end.label }}</label>
                            {{ form.date_end }}
                        </div>
                    </div>
                    <div class="form_flex">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
                            {{ form.comment }}
                        </div>
                    </div>
                    <div class="form_flex">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.export_certificate_number.id_for_label }}">{{ form.export_certificate_number.label }}</label>
                            {{ form.export_certificate_number }}
                        </div>
                    </div>
                    <div class="form_flex">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                            {{ form.price }}
                        </div>
                    </div>
                    {% if user.is_authenticated and user.job_title != 'Клиент' %}
                     <div class="form_flex">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.price_for_buhgalter.id_for_label }}">{{ form.price_for_buhgalter.label }}</label>
                            {{ form.price_for_buhgalter }}
                        </div>
                    </div>

                    <div class="form_flex">
                        <div class="col-md-12 mb-3">
                            <label for="{{ form.power.id_for_label }}">{{ form.power.label }}</label>
                            {{ form.power }}
                        </div>
                    </div>

                    <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                        <input type="submit" name="calculate_price" class="btn btn-outline-dark position-relative" value="Рассчитать цену"/>
                    </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                    <div class="mb-3 form_disable_checkbox">
                        <label for="{{ form.sbts.id_for_label }}" class="form-label">{{ form.sbts.label }}</label>
                        {{ form.sbts }}
                    </div>
                    <div class="mb-3 form_disable_checkbox">
                        <label for="{{ form.ptd.id_for_label }}" class="form-label">{{ form.ptd.label }}</label>
                        {{ form.ptd }}
                    </div>
                    <div class="mb-3 form_disable_checkbox">
                        <label for="{{ form.contract_japan.id_for_label }}" class="form-label">{{ form.contract_japan.label }}</label>
                        {{ form.contract_japan }}
                    </div>
                    <div class="mb-3 form_disable_checkbox">
                        <label for="{{ form.client_contract.id_for_label }}" class="form-label">{{ form.client_contract.label }}</label>
                        {{ form.client_contract }}
                    </div>
                    <div class="mb-3 form_disable_checkbox" style="{% if user.is_authenticated %}{% if user.job_title != 'Клиент' %}display: none;{% endif %}{% endif %}">
                        <label for="{{ form.consignment.id_for_label }}" class="form-label">{{ form.consignment.label }}</label>
                        {{ form.consignment }}
                    </div>
                    <div class="mb-3 form_disable_checkbox" style="{% if user.is_authenticated %}{% if user.job_title == 'Клиент' %}display: none;{% endif %}{% endif %}">
                        <label for="{{ form.received_ptd.id_for_label }}" class="form-label">{{ form.received_ptd.label }}</label>
                        {{ form.received_ptd }}
                    </div>
                    <div class="mb-3 form_disable_checkbox" style="{% if user.is_authenticated %}{% if user.job_title == 'Клиент' %}display: none;{% endif %}{% endif %}">
                        <label for="{{ form.invoice.id_for_label }}" class="form-label">{{ form.invoice.label }}</label>
                        {{ form.invoice }}
                    </div>
                    <div class="mb-3 form_disable_checkbox" style="{% if user.is_authenticated %}{% if user.job_title == 'Клиент' %}display: none;{% endif %}{% endif %}">
                        <label for="{{ form.payment_order.id_for_label }}" class="form-label">{{ form.payment_order.label }}</label>
                        {{ form.payment_order }}
                    </div>
                    <div class="mb-3 form_disable_checkbox">
                        <label for="{{ form.def_ved.id_for_label }}" class="form-label">{{ form.def_ved.label }}</label>
                        {{ form.def_ved }}
                    </div>
                    <div class="mb-3 form_disable_checkbox">
                        <label for="{{ form.export_certificate.id_for_label }}" class="form-label">{{ form.export_certificate.label }}</label>
                        {{ form.export_certificate }}
                    </div>
                    {% if user.is_authenticated and user.job_title != 'Клиент' %}
                     <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                        <input type="submit" name="create_contract" class="btn btn-outline-dark position-relative" value="Сформировать договор с клиентом"/>
                     </div>


                    <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                        <input type="submit" name="create_defective_statement" class="btn btn-outline-dark position-relative" value="Сформировать дефектную ведомость"/>
                    </div>
                    {% endif %}
                </div>
                 <div class="tab-pane fade" id="download" role="tabpanel" aria-labelledby="download-tab">
                    <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                        <a href="{% url 'download_all_documents' order.id_order %}" class="btn btn-outline-dark position-relative">Скачать все документы</a>
                    </div>
                </div>
                 <div class="tab-pane fade" id="photo" role="tabpanel" aria-labelledby="photo-tab">
                    <div class="form-group mb-3">
                        <label for="{{ form.photos.id_for_label }}">Загрузить фотографии</label>
                        {{ form.photos }}
                    </div>
                    <div class="gallery" id="gallery">
                       {% include 'photo_gallery.html' %}
                    </div>
                </div>
            </div>

            <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                <input type="submit" name="update" class="btn btn-outline-dark position-relative" value="{% if user.is_authenticated and user.job_title == 'Клиент' %}Выйти{% else %}Обновить{% endif %}"/>
            </div>

        </form>
    </div>
    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключение IMask.js -->
    <script src="https://unpkg.com/imask"></script>
    <!-- Подключение flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <!-- Подключение Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <script>
    $(document).ready(function() {
        // Инициализация flatpickr для выбора даты
        flatpickr("#id_date_end", {
            dateFormat: "Y-m-d",
            locale: "ru",  // Если нужна локализация на русский
        {% if user.is_authenticated and user.job_title == 'Клиент'  %}
            clickOpens: false, // Запрещаем открытие календаря по клику
            allowInput: false  // Запрещаем ввод текста
        {% endif %}
        });
        var exportCertificateMask = IMask(
            document.getElementById('{{ form.export_certificate_number.id_for_label }}'), {
            mask: '00000-0000 0000 0000 0000'
        });
         // Получение CSRF-токена из cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Проверка, начинается ли cookie с нужного имени
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    // Установка CSRF-токена в заголовок AJAX-запроса
    function csrfSafeMethod(method) {
        // Эти HTTP-методы не требуют CSRF-токена
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // Обработка загрузки фотографий асинхронно
    $('input[name="photos"]').change(function() {
        var formData = new FormData($('#orderForm')[0]);
        $.ajax({
            url: "{% url 'order_photo' order.id_order %}", // текущий URL
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data) {
                // Обновить галерею фотографий
                $('#gallery').html(data.html);
            },
            error: function(xhr, status, error) {
                console.log('Ошибка: ' + error.message);
            }
        });
    });
    });
    </script>
{% endblock content %}