

{% extends 'base.html' %}
{% load static %}

{% block head %}
    <title>Цены</title>
    <link rel="stylesheet" type="text/css" href="{% static 'order.css' %}">
{% endblock head %}

{% block content %}
    {% include 'messages.html' %}

    <div class="d-grid gap-2 col-6 mx-auto">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form_flex" style="padding-top: 20px">

                <div class="col-md-12 mb-3">
                    <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                    {{ form.title }}
                </div>

            </div>
            <div class="form_flex" style="padding-top: 20px">

                <div class="col-md-12 mb-3">
                    <label for="{{ form.number_contract.id_for_label }}">{{ form.number_contract.label }}</label>
                    {{ form.number_contract }}
                </div>

            </div>
            <div class="form_flex" style="padding-top: 20px">

                <div class="col-md-12 mb-3 form_disable_checkbox">
                    <label for="{{ form.contract.id_for_label }}">{{ form.contract.label }}</label>
                    {{ form.contract }}
                </div>

            </div>
            <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                <input type="submit" name="save" class="btn btn-outline-dark position-relative" value="Сохранить"/>
            </div>
            <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                <input type="submit" name="new_price" class="btn btn-outline-dark position-relative" value="Цена транспортной компании"/>
            </div>
            <div class="bd-example bd-example-position-examples d-flex justify-content-around mb-3">
                <input type="button" id="application" class="btn btn-outline-dark position-relative" value="Сформировать заявку"/>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {

            $('#application').click(function(e) {
                e.preventDefault();
                var form = $('#price-form'); // Используем правильный ID формы
                var application = $(this).val();
                var number_contract = $('#id_number_contract').val(); // Используем правильный селектор для поля

                $.ajax({
                    url: '/transport_companies/',
                    type: 'POST',
                    data: {
                        'application': application,
                        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                        'number_contract': number_contract,
                    },
                    dataType: 'json',
                    success: function(response) {
                        if (response.file_url) {
                            window.open(response.file_url, '_blank');
                        } else {
                            console.error('Error: File URL not found.');
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            });


        });
    </script>
{% endblock content %}
